{%  extends 'base.html' %}
{% load static %}
{% block content %}
    {% load plotly_dash %}
<h1>Graficar planillas y ver datos</h1>

    <div class="{% plotly_class name='Analisis' %} card" style="height: 100%; width: 100%">
    {% plotly_app_bootstrap  name='Analisis'   initial_arguments=initial_arguments  %}
    </div>
<br>
    

{% endblock %}