{%  extends 'base.html' %}
{% load static %}
{% block content %}
    {% load plotly_dash %}
    
        <div class="col-lg-12 ">

            <!-- Project Card Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Elija tipo de analisis</h6>
                </div>
        
        
            
            
    
        
                <div class="card-body">
                    <ul>
                        <li>
                            <a href="{{ url }}/proyectos">Proyectos</a>
                        </li>
                        <li>
                            <a href="{{ url }}/pipetas">Calibracion de Pipetas</a>
                        </li>
                    </ul>
                    
                    


                
                    
                    
                    
                </div>
            </div>
        </div>
    
    <br>
    

{% endblock %}