<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon rotate-n-15">
      <i class="fa-regular fa-bolt"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Ciclado de baterias</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
    <a class="nav-link" href="index.html">
      <span>Explorador de datos</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">
<!-- Heading -->
<div class="sidebar-heading">
Proyectos
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
<a class="nav-link" href="{{ url }}/admin" target="_blank" >
  <i class="fas fa-fw fa-folder"></i>
  <span>Admin </span>
</a>

</li>

<!-- Nav Item - Charts -->
<li class="nav-item">
<a class="nav-link" href="{{ url }}/ciclado">
  <i class="fas fa-fw fa-chart-area"></i>
  <span>Gráficos</span></a>
</li>

  <!-- Divider -->
  <hr class="sidebar-divider">



  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>